.userPhoto {
  width: 100px;
  height: 100px;
}

.userContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.userContainer span {
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  padding: 15px;
  border: 2px white solid;
  border-radius: 5px;
}

.username {
  width: 300px;
}

.selectedPage {
  font-weight: bold;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}